.btn{
    color: cornflowerblue;
    background-color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 60px;
    border-color: cornflowerblue;
    border-style: solid;
}
.btn:hover{
    color: white;
    background-color: cornflowerblue;
    width: 180px;
    height: 50px;
    border-radius: 80px;
    border-color: crimson;
    border-bottom-style: groove;

}